<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube video Downloader</title>
    <style>
        h1 {
            font-family: monospace;
        }
    </style>
</head>
<body>
    <h1>Youtube Video Downloader</h1>

    <form action="/download" method="post">
        Enter the link: <input type="text" name="link-name">
        <input type="submit" value="Download">
    </form>
</body>
</html>